.idea/
**/.vs
**/build/*.exe
**/build/*.pdb
**/build/*.manifest
**/build/*.ini
**/CMakeFiles
**/build/*.ilk
**/build/CodeAnalysis/*.ilk
**/build/CodeAnalysis/*.xml
**/buildDLL/*.ilk
**/buildDLL/*.dll
**/buildDLL/*.pdb
**/*.exe
*.exe
**/*ilk
*ilk
**/*.ilk
*.ilk
**/*.dll
*.dll
**/*.spv
*.spv
**/*.class
*.class
**/out/
*/out/


